/* تعريف الخط */
@font-face {
  font-family: 'tajawal';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* تطبيق الخط على الموقع بالكامل */
* {
  font-family: 'tajawal', sans-serif !important;
}

html, body {
  font-family: 'tajawal', sans-serif !important;
  font-weight: 700;
  overflow-x: hidden;
  width: 100%;
}
