/* استيراد خط Noto Naskh Arabic من Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400;500;600;700&display=swap');

/* تطبيق الخط على الموقع بالكامل */
* {
  font-family: 'Noto Naskh Arabic', sans-serif !important;
}

html,
body {
  font-family: 'Noto Naskh Arabic', sans-serif !important;
  font-weight: 700;
  overflow-x: hidden;
  width: 100%;
}